<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Idea Space</title>
  </head>
  <body>
    {{#each users}}
      {{id}}
      {{firstName}}
      {{lastName}}
      {{email}}
      <a href="/delete?user_id={{id}}"> DELETE </a>
      <br>
    {{/each}}
    <a href="/create"> New user </a>
  </body>
</html>
